* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    color: #fff;
    padding: 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #333; 
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 28px; /* desired roundness */
    background-color: #fff; 
    transition: background-color 0.3s ease; 
}

nav ul li a:hover {
    background-color: #f0f0f0; 
}

h1.site-name {
    background: linear-gradient(to right, #ff9a9e, #fad0c4, #fad0c4, #ffd1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    padding: 1rem;
}

footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 1rem;
}