.CustomerAnalytics {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #efefef;
  padding: 20px;
  border-radius: 10px;
  width: 90%; /* Changed width to percentage for responsiveness */
  max-width: 800px; /* Added max-width for larger screens */
  max-height: 600px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.Customer img{
    max-width: 100%; /* Adjusted image width to fit container */
    height: auto;
    display: block;
    margin: 20px auto; /* Removed bottom margin */
}

.CustomerContent {
    text-align: left;
    margin: 0 10px; /* Adjusted margins */
}

.Customer p {
    margin-bottom: 10px;
}

.Customer h4 {
    margin-bottom: 10px;
    font-size: 1.2em; /* Reduced font size for better mobile readability */
}

.Customer strong {
    font-weight: bold;
}

.customer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusted grid for responsiveness */
    grid-gap: 10px;
}

.header {
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px;
}

.customer-grid > div {
    border: 1px solid #ccc;
    padding: 10px;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .CustomerAnalytics {
    width: 90%;
    max-width: none;
    max-height: none;
    padding: 10px;
  }

  .Customer h4 {
    font-size: 1em; /* Further reduce font size for smaller screens */
  }
}
