.team {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #efefef;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Changed width to percentage for responsiveness */
    max-width: 800px; /* Added max-width for larger screens */
    max-height: 600px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.img {
    max-width: 100%; /* Adjusted image width to fit container */
    height: auto;
    display: flex;
    border-radius: 50px;
    padding: 5px;
}

.name, .bio, .email {
    position: relative;
    bottom: auto;
    color: black;
}

