.team-member {
    position: relative;
  }

.team h3{
  text-align: center;
}
  
  .image-container {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    overflow: hidden;
    border-radius: 50%; /* Make it circular */
    margin: 0 auto;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .name-container {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  
  .member-info {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure it appears above other elements */
  }
  
  .member-info .email,
  .member-info .bio {
    margin-top: 5px;
    text-align: center;
  }

  .team-members {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns for the top row */
    gap: 20px;
    justify-content: center; /* Center-align horizontally */
    margin-top: 20px; /* Add some top margin */
  }
  

  @media (max-width: 768px) {
    .team-members {
      grid-template-columns: repeat(1, 1fr); /* 1 column for smaller screens */
    }
  }